<div id="allgemeininfo">
<table class="tx-brw-kunden-allgemein" >
	<tr>
		<td>
			<h1>Projekt:</h1>
		</td>
		<td>
			<h2>{kundendaten.projekt} - {kundendaten.bauart}</h2>
		</td>
	</tr>
  <tr>
		<td>
			Bauplatz:
		</td>
    <td>
			 	{kundendaten.strbau}, {kundendaten.plzbau} {kundendaten.ortbau}
		</td>
	</tr>
  <tr>
		<td>
			Stadium und Bauzeit:
		</td>
    <td>
			 	{kundendaten.planstand}
		</td>
	</tr>
  <tr>
		<td>
			Notizen:
		</td>
    <td>
			{kundendaten.notice}
		</td>
	</tr>


</table>
</div>




<table class="tx-brw-kunden" >
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.erstellt" />
		</td>
		<td>
			{kundendaten.erstellt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.projekt" />
		</td>
		<td>
			{kundendaten.projekt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bauart" />
		</td>
		<td>
			{kundendaten.bauart}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.gebaeudeart" />
		</td>
		<td>
			{kundendaten.gebaeudeart}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.kategorie" />
		</td>
		<td>
			{kundendaten.kategorie}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.plzbau" />
		</td>
		<td>
			{kundendaten.plzbau}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.lkzbau" />
		</td>
		<td>
			{kundendaten.lkzbau}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ortbau" />
		</td>
		<td>
			{kundendaten.ortbau}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.strbau" />
		</td>
		<td>
			{kundendaten.strbau}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bl" />
		</td>
		<td>
			{kundendaten.bl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.lkr" />
		</td>
		<td>
			{kundendaten.lkr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.planstand" />
		</td>
		<td>
			{kundendaten.planstand}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.gepl_bau_beg" />
		</td>
		<td>
			{kundendaten.geplBauBeg}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.gepl_bauzeit" />
		</td>
		<td>
			{kundendaten.geplBauzeit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.mauerwerk" />
		</td>
		<td>
			{kundendaten.mauerwerk}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.dachkonstr" />
		</td>
		<td>
			{kundendaten.dachkonstr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.dacheind" />
		</td>
		<td>
			{kundendaten.dacheind}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.fassade" />
		</td>
		<td>
			{kundendaten.fassade}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.sonst_baudet" />
		</td>
		<td>
			{kundendaten.sonstBaudet}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ausstatt_aussen" />
		</td>
		<td>
			{kundendaten.ausstattAussen}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ausstatt_innen" />
		</td>
		<td>
			{kundendaten.ausstattInnen}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.gewerk_vorber" />
		</td>
		<td>
			{kundendaten.gewerkVorber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.gewerk_aussenanlage" />
		</td>
		<td>
			{kundendaten.gewerkAussenanlage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.allg_gewerk" />
		</td>
		<td>
			{kundendaten.allgGewerk}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.dl_gewerke" />
		</td>
		<td>
			{kundendaten.dlGewerke}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.vergabe_kz" />
		</td>
		<td>
			{kundendaten.vergabeKz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bh_funktion" />
		</td>
		<td>
			{kundendaten.bhFunktion}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bh_adressnr" />
		</td>
		<td>
			{kundendaten.bhAdressnr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.b_h_name" />
		</td>
		<td>
			{kundendaten.bHName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bhlkz" />
		</td>
		<td>
			{kundendaten.bhlkz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bh_plz" />
		</td>
		<td>
			{kundendaten.bhPlz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bh_ort" />
		</td>
		<td>
			{kundendaten.bhOrt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bh_str" />
		</td>
		<td>
			{kundendaten.bhStr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bh_tel" />
		</td>
		<td>
			{kundendaten.bhTel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bh_fax" />
		</td>
		<td>
			{kundendaten.bhFax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bh_mail" />
		</td>
		<td>
			{kundendaten.bhMail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bh_zust" />
		</td>
		<td>
			{kundendaten.bhZust}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.direkt_telbh" />
		</td>
		<td>
			{kundendaten.direktTelbh}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bh_direkt_fax" />
		</td>
		<td>
			{kundendaten.bhDirektFax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bh_direkt_mail" />
		</td>
		<td>
			{kundendaten.bhDirektMail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bh_homepage" />
		</td>
		<td>
			{kundendaten.bhHomepage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bh_handy" />
		</td>
		<td>
			{kundendaten.bhHandy}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bu_funktion" />
		</td>
		<td>
			{kundendaten.buFunktion}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bu_adress_nr" />
		</td>
		<td>
			{kundendaten.buAdressNr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bu_name" />
		</td>
		<td>
			{kundendaten.buName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bu_plz" />
		</td>
		<td>
			{kundendaten.buPlz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bu_ort" />
		</td>
		<td>
			{kundendaten.buOrt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bu_str" />
		</td>
		<td>
			{kundendaten.buStr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bu_tel" />
		</td>
		<td>
			{kundendaten.buTel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bu_fax" />
		</td>
		<td>
			{kundendaten.buFax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bu_mail" />
		</td>
		<td>
			{kundendaten.buMail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.buzust_a_p" />
		</td>
		<td>
			{kundendaten.buzustAP}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.budirekt_tel" />
		</td>
		<td>
			{kundendaten.budirektTel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bu_direkt_fax" />
		</td>
		<td>
			{kundendaten.buDirektFax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.budirekt_mail" />
		</td>
		<td>
			{kundendaten.budirektMail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.buwebsite" />
		</td>
		<td>
			{kundendaten.buwebsite}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.bu_handy" />
		</td>
		<td>
			{kundendaten.buHandy}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ar_funktion_arch" />
		</td>
		<td>
			{kundendaten.arFunktionArch}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ar_adressnr" />
		</td>
		<td>
			{kundendaten.arAdressnr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ar_name" />
		</td>
		<td>
			{kundendaten.arName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ar_p_l_z" />
		</td>
		<td>
			{kundendaten.arPLZ}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ar_ort" />
		</td>
		<td>
			{kundendaten.arOrt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ar_str" />
		</td>
		<td>
			{kundendaten.arStr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ar_tel" />
		</td>
		<td>
			{kundendaten.arTel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ar_fax" />
		</td>
		<td>
			{kundendaten.arFax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ar_mail" />
		</td>
		<td>
			{kundendaten.arMail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.arzust_a_p" />
		</td>
		<td>
			{kundendaten.arzustAP}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ar_direkt_tel" />
		</td>
		<td>
			{kundendaten.arDirektTel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ardirekt_fax" />
		</td>
		<td>
			{kundendaten.ardirektFax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ardirekt_mail" />
		</td>
		<td>
			{kundendaten.ardirektMail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ar_website" />
		</td>
		<td>
			{kundendaten.arWebsite}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.ar_handy" />
		</td>
		<td>
			{kundendaten.arHandy}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.called_on" />
		</td>
		<td>
			{kundendaten.calledOn}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.recall" />
		</td>
		<td>
			{kundendaten.recall}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.notice" />
		</td>
		<td>
			{kundendaten.notice}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_brwkunden_domain_model_kundendaten.proirity" />
		</td>
		<td>
			{kundendaten.proirity}
		</td>
	</tr>
</table>